:host {
    width: 312px;
    display: block;
    padding: 12px;

    &.embedded {
        width: 100%;
        background-color: var(--menu-background-color);
        padding: 0;
    }
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -24px;
    justify-content: center;
    padding-bottom: 12px;

    button {
        color: var(--text-subdued-color);

        &.active {
            color: var(--text-color);
        }
    }
}

mat-form-field {
    width: 100%;
}

hr {
    border-color: var(--dialog-background-color);
    margin: -12px 24px 12px 24px;
}

:host ::ng-deep .icon-container {
    button.mat-mdc-icon-button.mat-mdc-button-base,
    button.mat-mdc-icon-button span.mat-mdc-button-touch-target {
        width: 48px;
        height: 48px;
    }

    button.mat-mdc-icon-button.mat-mdc-button-base {
        padding: 8px;
    }
}
