<div style="display: flex;">
    <mat-form-field style="margin: 12px 24px 12px 24px; width: -webkit-fill-available;">
        <mat-label>Type here to search...</mat-label>
        <input
            matInput
            type="text"
            [(ngModel)]="query"
            (keydown)="filterResults()"
        />
    </mat-form-field>
    <mat-icon (click)="clearIcon()">clear</mat-icon>
</div>

<div class="icon-container">
    @for (icon of searchIcons; track icon) {
        <button mat-icon-button (click)="setIcon(icon)">
            <mat-icon
                [fontIcon]="icon"
                [style.color]="icon == page?.icon ? '#fff' : ''"
            />
        </button>
    }
</div>



