
<mat-accordion
    displayMode="flat"
    [multi]="true"
    class="menu-accordion list"
    cdkDropList
    cdkDropListConnectedTo="entryList"
    (cdkDropListDropped)="drop($event)"
>
    <mat-expansion-panel
        *ngFor="let page of items; let i = index"
        cdkDrag
        [class.isleaf]="!page['children'] || page['children'].length == 0"
        [disabled]="!page['children'] || page['children'].length == 0"
        [(expanded)]="page['expanded']"
        style="cursor: default;"
    >
        <div class="placeholder" *cdkDragPlaceholder></div>
        <mat-expansion-panel-header cdkDragHandle [style.color]="'var(--text-color)'">
            <div
                class="label"
                [ngx-contextmenu]="ctxMenu"
                [ngx-menu-context]="page"
                (click)="pages.addTab(page)"
            >
                <mat-icon
                    *ngIf="page.icon"
                    [fontIcon]="page.icon"
                    [style.color]="page.color"
                />
                <span>{{page.name.slice(0, 20)}}</span>
            </div>
        </mat-expansion-panel-header>

        <app-entry-list
            *ngIf="page['children'] && depth < 5"
            [item]="page"
            [items]="page['children']"
            [ctxMenu]="ctxMenu"
            [depth]="depth + 1"
        />

    </mat-expansion-panel>
</mat-accordion>

<hr *ngIf="depth == 0"/>

<div class="add-line" *ngIf="depth == 0">
    <span (click)="create('markdown')">
        <mat-icon>add</mat-icon>
        Markdown
    </span>
    <span (click)="create('code')">
        <mat-icon>add</mat-icon>
        Code
    </span>
    <span (click)="create('canvas')">
        <mat-icon>add</mat-icon>
        Diagram
    </span>
    <span (click)="create('fetch')">
        <mat-icon>add</mat-icon>
        Fetch
    </span>
</div>
