
<mat-accordion
    displayMode="flat"
    [multi]="true"
    class="menu-accordion list"
    cdkDropList
    cdkDropListConnectedTo="entryList"
    (cdkDropListDropped)="drop($event)"
>
    @for (page of items; track page; let i = $index) {
        <mat-expansion-panel
            cdkDrag
            [class.selected]="page.path == pages.tabs[pages.selectedTabIndex]?.path"
            [class.isleaf]="!page['children'] || page['children'].length == 0"
            [disabled]="!page['children'] || page['children'].length == 0"
            [(expanded)]="page['expanded']"
            style="cursor: default;"
        >
            <div class="placeholder" *cdkDragPlaceholder></div>
            <mat-expansion-panel-header cdkDragHandle [style.color]="'var(--text-color)'">
                <div
                    class="label"
                    [ngx-contextmenu]="ctxMenu"
                    [ngx-menu-context]="page"
                    [matTooltip]="page.label"
                    [matTooltipShowDelay]="750"
                    (click)="pages.addTab(page)"
                    (dblclick)="pages.addTab(page)"
                >
                    @if (page.icon) {
                        <mat-icon

                            [fontIcon]="page.icon"
                            [style.color]="page.color"
                        />
                    }
                    <span>{{page.label?.slice(0, 20)}}</span>
                </div>
            </mat-expansion-panel-header>

            @if (page['children'] && depth < 5) {
                <app-entry-list
                    [item]="page"
                    [items]="page['children']"
                    [ctxMenu]="ctxMenu"
                    [depth]="depth + 1"
                />
            }
        </mat-expansion-panel>
    }
</mat-accordion>

@if (depth == 0) {
    <hr/>

    <div class="add-line">
        <span (click)="create('markdown', 'markdown')">
            <mat-icon>add</mat-icon>
            Markdown
        </span>
        <span (click)="create('code', 'code_blocks')">
            <mat-icon>add</mat-icon>
            Code
        </span>
        <span (click)="create('canvas', 'network_node')">
            <mat-icon>add</mat-icon>
            Diagram
        </span>
        <!-- This one is very broken everywhere. -->
        <!-- <span (click)="create('fetch')">
            <mat-icon>add</mat-icon>
            Fetch
        </span> -->
    </div>
}
