<!-- Header -->
<mat-icon [ngx-menu]="textSizeMenu" [class.reflect]="cursorIsInHeading" matTooltip="Headings">format_size</mat-icon>
<!-- Color -->
<mat-icon [ngx-tooltip]="colorPopup" [ngx-tooltip-config]="{ triggers: ['click'], position: 'bottom' }">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" style="margin-top: -3px;">
        <path [style.fill]="currentTextColor" d="M2 20L2 24L22 24L22 20L2 20z" />
        <path fill="var(--text-color)" d="M10.75 3L5.49 17L7.91 17L9.18 13.42L14.83 13.42L16.09 17L18.51 17L13.25 3L10.75 3z M11.94 5.6L12.06 5.6L14.09 11.39L9.91 11.39L11.94 5.6z" />
    </svg>
</mat-icon>
<ng-template #colorPopup let-dialog="dialog">
    <div
        *ngFor="let ctx of [{color: '#000'}]"
        class="table-popup"
    >
        <div
            [style.color]="ctx.color"
            [style.background-color]=""
        >
            {{ctx.color}}
        </div>
        <div class="grouped" style="display: flex; gap: 2px; flex-direction: column;">
            <div class="table-row" *ngFor="let row of colorList">
                <div
                    *ngFor="let color of row"
                    class="col-cell"
                    style="width: 24px; height: 24px"
                    [style.background-color]="color + 'ee'"
                    [style.border-color]="color + ''"
                    (click)="colorizeText(currentTextColor = color); dialog.close()"
                    (pointerenter)="ctx.color = color"
                ></div>
            </div>
        </div>
    </div>

</ng-template>

<!-- Bold -->
<mat-icon (click)="boldText()" [class.reflect]="cursorIsInBold" matTooltip="Bold">format_bold</mat-icon>
<!-- Italic -->
<mat-icon (click)="italicizeText()" [class.reflect]="cursorIsInItalic" matTooltip="Italic">format_italic</mat-icon>
<!-- Strikethrough -->
<mat-icon (click)="strikethroughText()" [class.reflect]="cursorIsInStrikethrough" matTooltip="Strikethrough">format_strikethrough</mat-icon>
<!-- Underscore -->
<!-- <mat-icon>format_underlined</mat-icon> -->

<!-- Quote -->
<mat-icon (click)="blockQuoteText()" [class.reflect]="cursorIsInBlockquote" matTooltip="Blockquote">format_quote</mat-icon>
<!-- Link -->
<mat-icon
    [ngx-tooltip]="linkPopup"
    [ngx-tooltip-config]="{ triggers: ['click'], position: 'bottom' }"
    [class.reflect]="cursorIsInLink"
>
    link
</mat-icon>
<ng-template #linkPopup let-dialog="dialog">
    <div
        *ngFor="let ctx of [{text: editorSvc.clEditor.selectionMgr.getSelectedText()}]"
        class="link-popup"
        cursorIsInLink
    >
        <div class="simple-input">
            <input #url type="text" required="">
            <label>URL</label>
        </div>
        <div class="simple-input">
            <input #label [value]="ctx.text" type="text">
            <label>Label</label>
        </div>

        <mat-icon
            [style.color]="url.value?.length > 2 ? 'var(--text-color)' : 'var(--text-muted-color)'"
            [style.cursor]="url.value?.length > 2 ? 'unset' : 'pointer'"
            (click)="insertLink(url.value, label.value); dialog.close()"
        >
            check
        </mat-icon>
    </div>
</ng-template>

<!-- Ordered list -->
<mat-icon (click)="insertOrderedList()" [class.reflect]="cursorIsInOrderedList" matTooltip="Ordered List">format_list_numbered</mat-icon>
<!-- Unordered list -->
<mat-icon (click)="insertList()" [class.reflect]="cursorIsInList" matTooltip="Unordered list">format_list_bulleted</mat-icon>
<!-- Checklist -->
<mat-icon (click)="insertCheckList()" [class.reflect]="cursorIsInChecklist" matTooltip="Checklist">rule</mat-icon>

<!-- Table -->
<mat-icon [ngx-tooltip]="tablePopup" [ngx-tooltip-config]="{ triggers: ['click'], position: 'bottom' }" [class.reflect]="cursorIsInTable">table_chart</mat-icon>
<ng-template #tablePopup let-data="data" let-dialog="dialog">
    <div
        *ngFor="let ctx of [{cols: 0, rows: 0}]"
        class="table-popup"
    >
        <div>{{ctx.cols}}x{{ctx.rows}}</div>
        <div class="grouped">
            <div class="table-row" *ngFor="let row of [1,2,3,4,5,6]">
                <div
                    *ngFor="let col of [1,2,3,4,5,6]"
                    class="col-cell"
                    [class.selected]="ctx.cols >= col && ctx.rows >= row"
                    (pointerenter)="ctx.cols = col; ctx.rows = row"
                    (click)="insertTable(ctx.cols, ctx.rows); dialog.close()"
                ></div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Image -->
<mat-icon [ngx-tooltip]="imagePopup" [ngx-tooltip-config]="{ triggers: ['click'], position: 'bottom' }">add_photo_alternate</mat-icon>
<ng-template #imagePopup let-dialog="dialog">
    <div
        *ngFor="let ctx of [{color: '#000'}]"
        class="photo-popup"
    >
        <!-- TODO: handle file upload -->
        <div class="simple-input">
            <input type="text">
            <label>URL</label>
        </div>
        <div class="simple-input">
            <input type="text">
            <label>Alt. Text</label>
        </div>

        <mat-icon>check</mat-icon>
    </div>
</ng-template>

<!-- Inline code -->
<mat-icon (click)="insertInlineCode()" [class.reflect]="cursorIsInInlineCode" matTooltip="Inline highlight">code</mat-icon>
<!-- Code Block -->
<mat-icon (click)="insertCodeBlock()" [class.reflect]="cursorIsInCode" matTooltip="Code block">data_object</mat-icon>

<!-- Mermaid Diagrams... -->
<mat-icon [ngx-menu]="diagramMenu" [ngx-menu-config]="{ customClass: ['medmaid-menu'] }" matTooltip="Diagrams">account_tree</mat-icon>
