/* You can add global styles to this file, and also import other style files */
@import "@fontsource/material-symbols-outlined";
@import "@fontsource/fira-sans/400";
@import "@fontsource/fira-sans/600";
@import "@fontsource/fira-mono";

@import "material.scss";
@import "print.scss";
@import "scrollbar.scss";
@import "splitter.scss";
@import "ngx-overrides.scss";


body { margin: 0 }
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Fira Sans', Arial;
    background-color: var(--background-color, #121212);
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}


// dark
:root {
    --text-color: #efefef;
    --text-muted-color: #999;
    --hr-color: #777;
    --background-color: #1f1f1f;
    --menu-guide-color: #313131;
    --menu-text-color: #ccc;
    --menu-background-color: #181818;
    --menu-item-background-color: #1c1e1f;
    --menu-item-background-hover-color: #222323;
    --menu-item-fill-color: #69f0aeaa;
    --menu-item-selected-fill-color: #69f0ae;
    --button-primary-background-color: #69f0ae;
    --menu-item-hover-background-color: #292c2d;
    --splitter-hover-background-color: #07fa87;
    --splitter-background-color: #2b2b2b;
    --splitter-transition: 200ms ease;
}

.light {
    --text-color: #121212;
    --text-muted-color: #999;
    --hr-color: #444;
    --background-color: #efefef;
    --ngx-ctx-menu-text-color: #111;
    --menu-guide-color: #bebebe;
    --menu-text-color: #333;
    --menu-background-color: #181818;
    --menu-item-hover-background-color: #292c2d;
    --splitter-hover-background-color: rgb(7, 250, 135);
    --splitter-background-color: #999;
}

