<div class="layout dark">
    <div class="layout__panel flex flex--row" [ngClass]="{'flex--end': styles.showSideBar}" style="display: flex;">
        <!-- <div class="layout__panel layout__panel--explorer" v-show="styles.showExplorer"
            [attr.aria-hidden]="!styles.showExplorer"
            [ngStyle]="{width: styles.layoutOverflow ? '100%' : constants.explorerWidth + 'px'}">
            <explorer></explorer>
        </div> -->
        <div class="layout__panel flex flex--column"
            style="flex-direction: column; width: 100%"
        >
            <div class="layout__panel layout__panel--navigation-bar" [ngStyle]="{height: constants.navigationBarHeight + 'px'}">
                <!-- <navigation-bar></navigation-bar> -->
                <div class="toolbar">
                    <!-- Header -->
                    <mat-icon [ngx-menu]="textSizeMenu" [class.reflect]="cursorIsInHeading">format_size</mat-icon>
                    <!-- Color -->
                    <mat-icon [ngx-tooltip]="colorPopup" [ngx-tooltip-config]="{ triggers: ['click'], position: 'bottom' }">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" style="margin-top: -3px;">
                            <path style="fill: {{currentTextColor}}" d="M2 20L2 24L22 24L22 20L2 20z" />
                            <path fill="var(--text-color)" d="M10.75 3L5.49 17L7.91 17L9.18 13.42L14.83 13.42L16.09 17L18.51 17L13.25 3L10.75 3z M11.94 5.6L12.06 5.6L14.09 11.39L9.91 11.39L11.94 5.6z" />
                        </svg>
                    </mat-icon>
                    <ng-template #colorPopup let-dialog="dialog">
                        <div
                            *ngFor="let ctx of [{color: '#000'}]"
                            class="table-popup"
                        >
                            <div
                                [style.color]="ctx.color"
                                [style.background-color]=""
                            >
                                {{ctx.color}}
                            </div>
                            <div class="grouped" style="display: flex; gap: 2px; flex-direction: column;">
                                <div class="table-row" *ngFor="let row of colorList">
                                    <div
                                        *ngFor="let color of row"
                                        class="col-cell"
                                        style="width: 24px; height: 24px"
                                        [style.background-color]="color + 'ee'"
                                        [style.border-color]="color + ''"
                                        (click)="currentTextColor = color; dialog.close()"
                                        (pointerenter)="ctx.color = color"
                                    ></div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                    <!-- <button>

                    </button> -->

                    <!-- Bold -->
                    <mat-icon (click)="boldText()" [class.reflect]="cursorIsInBold">format_bold</mat-icon>
                    <!-- Italic -->
                    <mat-icon (click)="italicizeText()" [class.reflect]="cursorIsInItalic">format_italic</mat-icon>
                    <!-- Strikethrough -->
                    <mat-icon (click)="strikethroughText()" [class.reflect]="cursorIsInStrikethrough">format_strikethrough</mat-icon>
                    <!-- Underscore -->
                    <!-- <mat-icon>format_underlined</mat-icon> -->

                    <!-- Quote -->
                    <mat-icon (click)="blockQuoteText()" [class.reflect]="cursorIsInBlockquote">format_quote</mat-icon>
                    <!-- Link -->
                    <mat-icon [ngx-tooltip]="linkPopup" [ngx-tooltip-config]="{ triggers: ['click'], position: 'bottom' }" [class.reflect]="cursorIsInLink">link</mat-icon>
                    <ng-template #linkPopup let-dialog="dialog">
                        <div
                            *ngFor="let ctx of [{text: editorSvc.clEditor.selectionMgr.getSelectedText()}]"
                            class="link-popup"
                            cursorIsInLink
                        >
                            <div class="simple-input">
                                <input #url type="text" required="">
                                <label>URL</label>
                            </div>
                            <div class="simple-input">
                                <input #label [value]="ctx.text" type="text">
                                <label>Label</label>
                            </div>

                            <mat-icon
                                [style.color]="url.value?.length > 2 ? 'var(--text-color)' : 'var(--text-muted-color)'"
                                [style.cursor]="url.value?.length > 2 ? 'unset' : 'pointer'"
                                (click)="insertLink(url.value, label.value); dialog.close()"
                            >
                                check
                            </mat-icon>
                        </div>
                    </ng-template>

                    <!-- Ordered list -->
                    <mat-icon (click)="insertOrderedList()" [class.reflect]="cursorIsInOrderedList">format_list_numbered</mat-icon>
                    <!-- Unordered list -->
                    <mat-icon (click)="insertList()" [class.reflect]="cursorIsInList">format_list_bulleted</mat-icon>
                    <!-- Checklist -->
                    <mat-icon (click)="insertCheckList()" [class.reflect]="cursorIsInChecklist">rule</mat-icon>

                    <!-- Table -->
                    <mat-icon [ngx-tooltip]="tablePopup" [ngx-tooltip-config]="{ triggers: ['click'], position: 'bottom' }" [class.reflect]="cursorIsInTable">table_chart</mat-icon>
                    <ng-template #tablePopup let-data="data" let-dialog="dialog">
                        <div
                            *ngFor="let ctx of [{cols: 0, rows: 0}]"
                            class="table-popup"
                        >
                            <div>{{ctx.cols}}x{{ctx.rows}}</div>
                            <div class="grouped">
                                <div class="table-row" *ngFor="let row of [1,2,3,4,5,6]">
                                    <div
                                        *ngFor="let col of [1,2,3,4,5,6]"
                                        class="col-cell"
                                        [class.selected]="ctx.cols >= col && ctx.rows >= row"
                                        (pointerenter)="ctx.cols = col; ctx.rows = row"
                                        (click)="insertTable(ctx.cols, ctx.rows); dialog.close()"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <!-- Image -->
                    <mat-icon [ngx-tooltip]="imagePopup" [ngx-tooltip-config]="{ triggers: ['click'], position: 'bottom' }">add_photo_alternate</mat-icon>
                    <ng-template #imagePopup let-dialog="dialog">
                        <div
                            *ngFor="let ctx of [{color: '#000'}]"
                            class="photo-popup"
                        >
                            <div class="simple-input">
                                <input type="text" name="" required="">
                                <label>Username</label>
                            </div>
                            <div class="simple-input">
                                <input type="password" name="" required="">
                                <label>Password</label>
                            </div>

                            <mat-icon>check</mat-icon>
                        </div>
                    </ng-template>

                    <!-- Inline code -->
                    <mat-icon (click)="insertInlineCode()" [class.reflect]="cursorIsInInlineCode">code</mat-icon>
                    <!-- Code Block -->
                    <mat-icon (click)="insertCodeBlock()" [class.reflect]="cursorIsInCode">data_object</mat-icon>

                    <!-- Mermaid Diagrams... -->
                    <mat-icon [ngx-menu]="diagramMenu">account_tree</mat-icon>
                </div>
            </div>
            <div class="layout__panel flex flex--row"
                style="flex: 1"
            >
                <div class="layout__panel layout__panel--editor" v-show="styles.showEditor"
                    [ngStyle]="{ fontSize: styles.fontSize + 'px'}"
                    style="flex: 1"
                >
                    <div
                        class="editor"
                        (click)="editorSvc.clEditor.focus()"
                        (pointerenter)="editorSvc.editorIsActive = true"
                        (pointerleave)="editorSvc.editorIsActive = false"
                    >
                        <div class="editor__inner markdown-highlighting"></div>
                    </div>
                </div>
                <div class="layout__panel layout__panel--button-bar" *ngIf="styles.showEditor"
                    [ngStyle]="{width: constants.buttonBarWidth + 'px', flex: '0 0' + constants.buttonBarWidth + 'px'}"

                >
                    <!-- <button-bar></button-bar> -->
                    <div>
                            <!-- Toddle preview panel on/off -->
                            <mat-icon></mat-icon>
                            <!-- Toggle view mode on -->
                            <mat-icon></mat-icon>

                            <span style="flex: 1"></span>

                            <!-- What is focus mode? -->
                            <mat-icon></mat-icon>

                            <!-- Toggle scroll sync -->
                            <mat-icon></mat-icon>
                            <!-- Toggle status bar (blue bar at bottom with stats) -->
                            <mat-icon></mat-icon>
                    </div>
                </div>
                <div class="layout__panel layout__panel--preview" v-show="styles.showPreview"
                    [ngStyle]="{fontSize: styles.fontSize + 'px'}"
                    style="flex: 1"
                >

                    <div class="preview">
                        <div class="preview__inner-1">
                            <div class="preview__inner-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout__panel layout__panel--status-bar" *ngIf="styles.showStatusBar"
                [ngStyle]="{height: constants.statusBarHeight + 'px'}">
                <!-- <status-bar></status-bar> -->
                <div>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="layout__panel layout__panel--side-bar" v-show="styles.showSideBar"
            [ngStyle]="{width: styles.layoutOverflow ? '100%' : constants.sideBarWidth + 'px'}">
            <div class="toc">
                <div class="toc__mask"></div>
                <div class="toc__inner"></div>
            </div>
        </div>
    </div>
</div>



