<app-toolbar [style.flex]="'0 0 ' + (mode == 'edit' ? 44 : 0) + 'px'"></app-toolbar>

<div class="contents">
    <div
        class="editor"
        [style.flex]="'1 1 50%'"
        [style.display]="mode == 'view' ? 'none' : 'flex'"
        (click)="editorSvc.clEditor.focus()"
        (pointerenter)="editorSvc.editorIsActive = true"
        (pointerleave)="editorSvc.editorIsActive = false"
    >
        <div class="editor__inner markdown-highlighting"></div>
    </div>
    <div
        [style.display]="mode == 'view' ? 'none' : 'flex'"
        [style.flex]="'0 0 ' + 2 + 'px'"
    >
    </div>
    <div class="preview"
        [style.flex]="'1 1 50%'"
    >
        <div class="preview__inner-1">
            <div class="preview__inner-2"></div>
        </div>
    </div>
    <!-- TODO: -->
    <div
        class="toc"
        [style.--display]="mode == 'view' ? 'none' : 'none'"
        [style.width]="!showTOC ? '0px' : '240px'"
    >
        <div class="toc__inner"></div>
    </div>
</div>

