:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

::ng-deep :root {
    --primary-color: #0c93e4;
    --stackedit-font-family: 'Fira Sans', Arial;
    --stackedit-font-family-mono: "Fira Mono", "Droid Sans Mono", "monospace", monospace;
}

// Globally unscoped styles
::ng-deep {
    .ngx-menu.mermaid-menu {
        .mat-mdc-dialog-container .mdc-dialog__surface {
            background-color: var(--editor-background-color);
        }
    }
    .dark {
        --editor-background-color: #1f1f1f; //#181a1b;
        --preview-background-color: #1f2123;
        --text-color: #efefef;
        --text-header-color: #ceceff;
        --selection-color: #264f78;
        --code-background-color: #2b2b2b;
        --blockquote-background-color: #2b2b2b;
        --table-header-color: #0d47a1;
        --table-row-alt-color: #222;
        --table-row-hover-color: #444;
        --table-column-hover-color: #444;

        --md-border-color: #474747;
        --md-header-border-color: #000;
        --md-blockquote-color: #aaa;
        --md-blockquote-border-color: hsla(0, 0%, 100%, .1);
        --md-anchor-color: var(--primary-color);


        --prism-tag-color: #569cd6;
        --prism-property-color: #9cdcfe;
        --prism-punctuation-color: #808080;
        --prism-attribute-color: #ce9178;
        --prism-attribute-punctuation-color: #fff;
        --prism-attribute-value-color: #ce9178;
        --prism-attribute-value-punctuation-color: #fff;
        --prism-number-color: #b5cea8;
        --prism-comment-color: #6a9955;
        --prism-string-color: #ce9178;
        --prism-function-color: #dcdcaa;
        --prism-type-color: #4ec9b0;
        --prism-boolean-color: #569cd6;
        --prism-this-color: #569cd6;
        --prism-modifier-color: #569cd6;
        --prism-selector-color: #d7ba7d;
        --prism-builtin-color: #9cdcfe;
        --prism-ts-keyword-color: #c586c0;
        --prism-ts-punctuation-color: #ccc;
        --prism-url-color: #569cd6;
        --prism-table-header-color: #d7ba7d;
    }

    .light {
        --editor-background-color: #ffffff;
        --preview-background-color: #f3f3f3;
        --text-color: #121212;
        --text-header-color: #121244;
        --selection-color: #42a5f5;
        --code-background-color: #ebebeb;
        --blockquote-background-color: #ebebeb;
        --table-header-color: #42a5f5;
        --table-row-alt-color: #f3f3f3;
        --table-row-hover-color: #ddd;
        --table-column-hover-color: #ddd;

        --md-border-color: #dcdcdc;
        --md-header-border-color: #fff;
        --md-blockquote-color: #444;
        --md-blockquote-border-color: rgba(0, 0, 0, .1);
        --md-anchor-color: var(--primary-color);


        --prism-tag-color: #800000;
        --prism-property-color: #e50000;
        --prism-punctuation-color: #800000;
        --prism-attribute-color: #0000ff;
        --prism-attribute-punctuation-color: #3b3b3b;
        --prism-attribute-value-color: #0000ff;
        --prism-attribute-value-punctuation-color: #3b3b3b;
        --prism-number-color: #098658;
        --prism-comment-color: #008000;
        --prism-string-color: #a31515;
        --prism-function-color: #795e26;
        --prism-type-color: #267f99;
        --prism-boolean-color: #0000ff;
        --prism-this-color: #0000ff;
        --prism-modifier-color: #0000ff;
        --prism-selector-color: #800000;
        --prism-builtin-color: #800000;
        --prism-ts-keyword-color: #af00db;
        --prism-ts-punctuation-color: #333;
        --prism-url-color: #0000ff;
        --prism-table-header-color: #800000;
    }
}

.contents {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}


:host ::ng-deep {
    --monaco-line-height: 22px;
    .editor, .preview {
        // Take off 1 px to have a slight space between panels
        width: calc(50% - 1px);
        position: absolute;
        transition: width 200ms ease, left 200ms ease, right 200ms ease;
        contain: content;

        &.expand {
            width: 100%;
            &.show-toc {
                width: calc(100% - 240px);
            }
        }
        &.show-toc {
            width: calc(calc(50% - 1px) - 120px);
        }
    }

    .editor {
        overflow: auto;
        // font-family: var(--stackedit-font-family);
        font-family: var(--stackedit-font-family-mono);
        background-color: var(--editor-background-color);
        cursor: text;
        flex-direction: column;
        padding: 10px 24px 0px;
        margin: 0;
        white-space: pre-wrap;
        word-break: break-word;
        word-wrap: break-word;
        height: 100%;
        left: 0;

        &.linenumbers {
            padding: 10px 24px 38px 64px;
            .lf {
                &::before {
                    content: attr(data-linenumber);
                    position: absolute;
                    left: 6px;
                    color: #6e7681;
                    // active #ccc
                    font-family: var(--stackedit-font-family-mono);
                }
            }
        }

        &.monospaced {
            font-family: var(--stackedit-font-family-mono);
            font-size: .85em !important;

            * {
                font-size: inherit !important
            }
        }

        *::selection {
            // background-color: # !important;
            background-color: var(--selection-color) !important;
            // Should be the color when the page has focus
            // background-color: #3a3d41 !important;
        }
        img::selection {
            // ???
            background-color: var(--selection-color);
        }

        * {
            line-height: var(--stackedit-line-height, 1.4)
        }

        .cledit-section {
            font-family: var(--stackedit-font-family-mono);

            // ???
            span {
                display: inline;
            }

            .injection-portal {
                contain: content;
                overflow: auto;

                &>div {
                    display: flex;
                    flex-direction: column;
                }

                // * {
                //     display: unset;
                // }
                div {
                    display: block;
                }
            }
        }


        &>div:nth-last-of-type(2) {
            padding-bottom: 38px;
        }

        .hide {
            display: none
        }

        &.hidden {
            left: -50%
        }

        .editor-underlay,
        .editor-overlay-1,
        .editor-overlay-2 {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
        }

        .code-block {
            display: block !important;

            overflow: hidden;
            white-space: pre;
            padding-bottom: calc(19px + var(--monaco-line-height));

            line-height: var(--monaco-line-height);
        }

        .editor-overlay-1 {
            .monaco-container {
                position: absolute;
                display: block;
            }
            // .monaco-editor {
            //     border-radius: 6px;
            //     .overflow-guard .margin,
            //     .margin-view-overlays {
            //         border-bottom-left-radius: 6px;
            //         border-top-left-radius: 6px;
            //     }
            //     .decorationsOverviewRuler {
            //         border-bottom-right-radius: 6px;
            //         border-top-right-radius: 6px;
            //     }
            // }
        }
    }

    .preview {
        background-color: var(--preview-background-color);
        line-height: 24px;
        height: 100%;
        right: 0;
        overflow: hidden;

        .preview__inner-1 {
            width: 100%;
            height: 100%
        }

        .preview__inner-1 {
            overflow: auto;
            // scroll-behavior: smooth;
        }

        .cl-preview-section ::ng-deep {
            min-width: 100%;
            overflow-x: auto;
        }

        &.hidden {
            right: -50%
        }

        &.show-toc:not(.hidden) {
            right: 240px
        }
    }

    .toc {
        position: absolute;
        transition: width 200ms ease;
        right: 0;
        width: 240px;

        &.hidden {
            right: -240px
        }
    }

    .icon-provider {
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain
    }

    .spinnerMax, .spinnerMid, .spinnerMin {
        align-items: center;
        border: .3em solid transparent;
        border-top: .3em solid var(--primary-color);
        border-right: .3em solid var(--primary-color);
        border-radius: 100%;
        display: flex;
        justify-content: center;
    }

    .spinnerMax {
        animation: spinnerOne 3s linear infinite;
        height: 3em;
        width: 3em;
    }

    .spinnerMid {
        animation: spinnerOne 5s linear infinite;
        height: 2.4em;
        width: 2.4em;
    }

    .spinnerMin {
        animation: spinnerOne 5s linear infinite;
        height: 1.8em;
        width: 1.8em;
    }

    @keyframes spinnerOne {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(360deg)
        }
    }

    .preview {

        article,
        aside,
        footer,
        header,
        nav,
        section {
            display: block
        }

        h1 {
            font-size: 2em;
            margin: .67em 0
        }

        figcaption,
        figure {
            display: block
        }

        figure {
            margin: 1em 40px
        }

        hr {
            box-sizing: content-box;
            height: 0;
            overflow: visible
        }

        abbr[title] {
            border-bottom: none;
            text-decoration: underline;
            text-decoration: underline dotted
        }

        b,
        strong {
            font-weight: inherit;
            font-weight: bolder
        }

        code,
        kbd,
        samp {
            font-family: var(--stackedit-font-family-mono);
            font-size: 1em;
            background-color: var(--code-background-color)
        }

        img {
            border-style: none
        }

        h1:after,
        h2:after {
            content: "";
            display: block;
            position: relative;
            top: .33em;
            border-bottom: 1px solid hsla(0, 0%, 50%, .33)
        }

        ol ol,
        ol ul,
        ul ol,
        ul ul {
            margin: 0
        }

        dt {
            font-weight: 700
        }

        a {
            color: var(--md-anchor-color);
            text-decoration: underline;
            text-decoration-skip: ink
        }

        a:focus,
        a:hover {
            text-decoration: none
        }

        code,
        pre,
        samp {
            font-family: var(--stackedit-font-family-mono);
            // font-size: .85em
        }

        code *,
        pre *,
        samp * {
            font-size: inherit
        }

        pre > code,
        blockquote {
            padding: 6px 12px;
            border-radius: 5px;
            background-color: var(--blockquote-background-color);
        }

        blockquote {
            color: var(--md-blockquote-color);
            border-left: 7px solid var(--md-blockquote-border-color);
            margin-inline-start: 0;
            margin-inline-end: 0;

            blockquote {
                margin-inline-start: 12px;
                margin-inline-end: 12px;
            }
            p {
                margin: 0;
            }
        }

        input[type="checkbox"] {
            position: absolute;
            left: -500vw;

            & + label {
                position: relative;
                padding-left: 32px;
                cursor: pointer;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 18px;
                    height: 18px;
                    border: 1px solid var(--md-border-color);
                    border-radius: 3px;
                    background: var(--blockquote-background-color);
                }
                &:after {
                    content: 'check';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    overflow: hidden;

                    font-family: 'Material Symbols Outlined',
                        'Material Icons Outlined',
                        'Material Symbols',
                        'Material Icons';
                    font-weight: 600;
                    font-size: 19px;
                    line-height: 20px;
                    text-align: center;
                    color: var(--primary-color);
                    transition: all 200ms;
                }
            }


            &:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }

            &:checked + label:after {
                opacity: 1;
                transform: scale(1);
            }

            &:focus + label:before {
                border: 1px dotted var(--primary-color);
            }
        }

        label:hover:before {
            border: 1px solid var(--primary-color) !important;
        }

        hr {
            border: 0;
            border-top: 1px solid hsla(0, 0%, 50%, .33);
            margin: 2em 0
        }

        pre > code {
            display: block;
            -webkit-text-size-adjust: none;
            overflow-x: auto;
            white-space: pre
        }

        .toc ul {
            list-style-type: none;
            padding-left: 20px
        }

        table {
            border-collapse: collapse;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            position: relative;
            z-index: 0;

            &::before {
                content: "";
                background-color: var(--blockquote-background-color);
                position: absolute;
                inset: 0;
                z-index: -5;
            }
        }

        th,
        td {
            padding: 8px 14px;
            color: var(--text-header-color);
        }

        thead th {
            background-color: var(--table-header-color);
            text-align: left;
        }

        tbody {
            tr {
                &:hover {
                    background-color: var(--table-row-hover-color) !important;
                }

                &:nth-of-type(even) td:first-of-type::before {
                    content: "";
                    position: absolute;
                    inset: 0 -100vw;
                    background-color: var(--table-row-alt-color);
                    z-index: -4;
                }
            }

            td {
                position: relative;

                &:hover {
                    &:after {
                        content: "";
                        position: absolute;
                        inset: -100vh 0;
                        background-color: var(--table-column-hover-color);
                        z-index: -1;
                    }
                }
            }
        }

        abbr[title] {
            border-bottom: 1px dotted #777;
            cursor: help
        }

        img {
            max-width: 100%
        }

        .task-list-item {
            list-style-type: none
        }

        .footnote {
            font-size: .8em;
            position: relative;
            top: -.25em;
            vertical-align: top
        }

        .page-break-after {
            page-break-after: always
        }

        .abc-notation-block {
            overflow-x: auto !important
        }
    }

    .markdown-highlighting {
        color: var(--text-color);
        caret-color: var(--text-color);
        font-family: inherit;
        font-size: inherit;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
        font-weight: 400;

        .code_custom, .tag, .pre, .entity, .table {
            font-family: var(--stackedit-font-family-mono);
        }

        .code_custom:not(.code-snippet),
        .pre,
        .table-block,
        .blockquote {
            background-color: var(--code-background-color);
            padding: 6px 12px;
            border-radius: 5px;
            display: inline-block !important;
        }

        .code_custom:not(.code-snippet),
        .blockquote {
            width: 100%;
        }

        .blockquote {
            color: var(--md-blockquote-color);
            border-left: 7px solid var(--md-blockquote-border-color);
        }

        .pre {
            color: rgba(0, 0, 0, .8);
        }

        .pre,
        .pre * {
            line-height: 1.33
        }

        .entity {
            color: var(--text-color);
        }

        .img-wrapper {
            text-wrap: wrap;
            word-break: break-all;
        }

        .img-wrapper .img {
            padding: 0;
        }

        .img-wrapper img {
            max-width: 100%;
            padding: 0 .15em;
            box-sizing: content-box
        }

        .cl-toc {
            font-size: 2.8em;
            padding: .15em
        }

        .blockquote {
            color: var(--md-blockquote-color)
        }

        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        .h11,
        .h22 {
            font-weight: 600
        }

        .h1,
        .h1 *,
        .h2,
        .h2 *,
        .h3,
        .h3 *,
        .h4,
        .h4 *,
        .h5,
        .h5 *,
        .h6,
        .h6 *,
        .h11,
        .h11 *,
        .h22,
        .h22 * {
            line-height: 1.33
        }

        .h1,
        .h11 {
            font-size: 2em
        }

        .h2,
        .h22 {
            font-size: 1.5em
        }

        .h3 {
            font-size: 1.17em
        }

        .h4 {
            font-size: 1em
        }

        .h5 {
            font-size: .83em
        }

        .h6 {
            font-size: .75em
        }

        .hr {
            font-style: normal;
            font-weight: 400
        }

        .em {
            font-style: italic
        }

        .strong,
        .term {
            font-weight: 600
        }

        .strikethrough-text {
            text-decoration: line-through
        }

        .underlined-text,
        .email {
            text-decoration: underline
        }

        .fn,
        .inlinefn,
        .sup {
            font-size: smaller;
            position: relative;
            top: -.5em
        }

        .sub {
            bottom: -.25em;
            font-size: smaller;
            position: relative
        }
    }

    :focus {
        outline: none
    }

    // Used for rendering mermaid diagrams in some capacity
    .hidden-rendering-container {
        position: absolute;
        width: 900px;
        min-height: 400px;
        left: -100vw;
    }

    .toc__inner {
        position: relative;
        color: var(--text-header-color);
        cursor: pointer;
        font-size: 9px;
        padding: 10px 20px 40px;
        white-space: nowrap;
        user-select: none;

        * {
            font-weight: inherit;
        }

        .cl-toc-section {
            h1:after,
            h2:after {
                display: none
            }

            h1 {
                margin: 1rem 0
            }

            h2 {
                margin: .5rem 0;
                margin-left: 8px
            }

            h3 {
                margin: .33rem 0;
                margin-left: 16px
            }

            h4 {
                margin: .22rem 0;
                margin-left: 24px
            }

            h5 {
                margin: .11rem 0;
                margin-left: 32px
            }

            h6 {
                margin: 0;
                margin-left: 40px
            }
        }
    }

    .preview__inner-2 {
        margin: 0;
        padding: 24px;
    }

    .preview__inner-2>:first-child>:first-child {
        margin-top: 0
    }

    .preview__corner {
        position: absolute;
        top: 0;
        right: 0
    }

    .prism {
        &.language-css {
            color: var(--prism-string-color);
        }

        &.language-ts,
        &.language-js {
            .token.subject {
                color: var(--prism-builtin-color);
            }
            .token.import {
                color: var(--prism-ts-keyword-color);
            }
            .token.punctuation {
                color: var(--prism-ts-punctuation-color);
            }
        }

        .img-spinner {
            align-items: center;
            background: #222;
            border-radius: 50%;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            display: inline-flex !important;
            justify-content: center;

            * {
                display: flex;
            }

            span {
                display: none;
            }
        }

        .token.italic {
            font-style: italic
        }

        .token.image-spinner {
            color: #0000;
            // background-image: url();
        }
        .token.table-block .header-row {
            color: var(--prism-table-header-color);
            font-weight: 600;
        }

        .namespace {
            opacity: .7
        }

        .token.boolean,
        .token.constant,
        .token.deleted,
        .token.symbol {
            color: #569cd6
        }

        .token.builtin {
            color: var(--prism-builtin-color);
        }

        .token.char,
        .token.inserted {
            color: #690
        }

        .token.selector {
            color: var(--prism-selector-color);
        }

        .token.string {
            color: var(--prism-string-color);
        }

        .language-css .token.string,
        .style .token.string,
        .token.entity,
        .token.operator {
            color: #a67f59
        }

        .token.img-src,
        .token.src {
            color: var(--prism-url-color);
            text-decoration: underline;
            text-decoration-color: #40a6ff88;
        }

        .token.dash,
        .token.colon,
        .token.pipe,
        .token.punctuation,
        .token.hash,
        .token.hr {
            color: var(--prism-punctuation-color)
        }

        .token.atrule {
            color: var(--prism-builtin-color);
        }

        // ? which cases is this OK?
        .token.attr-value {
            color: var(--prism-string-color);
            // color: var(--prism-boolean-color);
        }

        .token.code-snippet {
            color: var(--prism-string-color);
            background-color: var(--code-background-color);
            border-radius: 3px;
        }

        .token.function {
            color: var(--prism-function-color);
        }

        .token.important,
        .token.regex,
        .token.variable {
            color: #e90
        }

        .token.tag {
            color: var(--prism-tag-color)
        }

        .token.attr-name,
        .token.property {
            color: var(--prism-property-color)
        }

        .token.attr-value>.punctuation {
            color: var(--prism-attribute-color);

            &.attr-equals {
                color: var(--prism-attribute-punctuation-color);
            }
        }

        .token.attr-value>.value {
            color: var(--prism-attribute-value-color);

            .punctuation {
                color: var(--prism-attribute-value-punctuation-color);
            }
        }

        .token.number {
            color: var(--prism-number-color)
        }

        .token.cdata,
        .token.doctype,
        .token.prolog,
        .token.comment {
            color: var(--prism-comment-color)
        }

        .token.bold,
        .token.important {
            font-weight: 500
        }

        .token.indent-space {
            letter-spacing: .45em;
        }
    }
}

