::ng-deep :root {
    --primary-color: #0c93e4;
}

::ng-deep .light {
    --editor-background-color: #ffffff;
    --preview-background-color: #f3f3f3;
    --text-color: #121212;
    --text-muted-color: rgba(0, 0, 0, .28);
    --selection-color: var(--primary-color);

    --md-border-color: #dcdcdc;
    --md-header-border-color: #fff;
    --md-keyword-color: #000;
    --md-blockquote-color: #444;
    --md-blockquote-border-color: rgba(0, 0, 0, .1);
    --md-anchor-color: var(--primary-color);

}

::ng-deep .dark {
    --editor-background-color: #181a1b;
    --preview-background-color: #1f2123;
    --text-color: #efefef;
    --text-muted-color: rgba(255, 255, 255, .28);
    --selection-color: var(--primary-color);

    --md-border-color: #474747;
    --md-header-border-color: #000;
    --md-blockquote-color: #aaa;
    --md-blockquote-border-color: hsla(0, 0%, 100%, .1);
    --md-keyword-color: #fff;
    --md-anchor-color: var(--primary-color);
}

::ng-deep {
    .ngx-menu.medmaid-menu {
        .mat-mdc-dialog-container .mdc-dialog__surface {
            background-color: var(--editor-background-color);
        }
    }
}

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contents {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.editor {
    overflow: auto;
    font-family: 'Fira Sans';
    background-color: var(--editor-background-color);
    cursor: text;
    contain: content;

    .editor__inner.monospaced {
        font-family: 'Fira Mono', "Droid Sans Mono", "monospace", monospace;
        font-size: .85em !important
    }

    .editor__inner.monospaced * {
        font-size: inherit !important
    }

    ::ng-deep .cledit-section .injection-portal {
        contain: content;
        overflow: auto;

        &>div {
            display: flex;
            flex-direction: column;
        }
        // * {
        //     display: unset;
        // }
        div {
            display: block;
        }
    }

    .prism {
        background-color: #f0f0f0;
    }
    ::ng-deep *::selection {
        background-color: var(--selection-color);
    }
}

.editor__inner, .preview__inner-2 {
    padding: 10px 25px 200px;
}

.preview {
    background-color: var(--preview-background-color);
    overflow: hidden;
    contain: content;

    &,
    .preview__inner-1 {
        width: 100%;
        height: 100%
    }

    .preview__inner-1 {
        overflow: auto;
        // scroll-behavior: smooth;
    }

    .cl-preview-section ::ng-deep {
        min-width: 100%;
        overflow-x: auto;
    }
}


::ng-deep {
    .icon-provider {
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain
    }

    .prism .token.cdata,
    .prism .token.comment,
    .prism .token.doctype,
    .prism .token.prolog,
    .token.pre.gfm .token.cdata,
    .token.pre.gfm .token.comment,
    .token.pre.gfm .token.doctype,
    .token.pre.gfm .token.prolog {
        color: #6a9955
    }

    .prism .token.image-spinner {
        color: #0000;
        // background-image: url();
    }

    .prism .token.punctuation,
    .token.pre.gfm .token.punctuation {
        color: #808080
    }

    .prism .namespace,
    .token.pre.gfm .namespace {
        opacity: .7
    }

    .prism .token.boolean,
    .prism .token.constant,
    .prism .token.deleted,
    .prism .token.number,
    .prism .token.property,
    .prism .token.symbol,
    .prism .token.tag,
    .token.pre.gfm .token.boolean,
    .token.pre.gfm .token.constant,
    .token.pre.gfm .token.deleted,
    .token.pre.gfm .token.number,
    .token.pre.gfm .token.property,
    .token.pre.gfm .token.symbol,
    .token.pre.gfm .token.tag {
        color: #569cd6
    }

    .prism .token.attr-name,
    .prism .token.builtin,
    .prism .token.char,
    .prism .token.inserted,
    .prism .token.selector,
    .prism .token.string,
    .token.pre.gfm .token.attr-name,
    .token.pre.gfm .token.builtin,
    .token.pre.gfm .token.char,
    .token.pre.gfm .token.inserted,
    .token.pre.gfm .token.selector,
    .token.pre.gfm .token.string {
        color: #690
    }

    .prism .language-css .token.string,
    .prism .style .token.string,
    .prism .token.entity,
    .prism .token.operator,
    .token.pre.gfm .language-css .token.string,
    .token.pre.gfm .style .token.string,
    .token.pre.gfm .token.entity,
    .token.pre.gfm .token.operator  {
        color: #a67f59
    }

    .prism .token.url,
    .token.pre.gfm .token.url {
        color: #40a6ff
    }

    .prism .token.atrule,
    .prism .token.attr-value,
    .prism .token.keyword,
    .token.pre.gfm .token.atrule,
    .token.pre.gfm .token.attr-value,
    .token.pre.gfm .token.keyword {
        color: #07a
    }

    .prism .token.function,
    .token.pre.gfm .token.function {
        color: #dd4a68
    }

    .prism .token.important,
    .prism .token.regex,
    .prism .token.variable,
    .token.pre.gfm .token.important,
    .token.pre.gfm .token.regex,
    .token.pre.gfm .token.variable {
        color: #e90
    }

    .prism .token.bold,
    .prism .token.important,
    .token.pre.gfm .token.bold,
    .token.pre.gfm .token.important {
        font-weight: 500
    }

    .prism .token.italic,
    .token.pre.gfm .token.italic {
        font-style: italic
    }

    .prism .img-spinner {
        align-items: center;
        background: #222;
        border-radius: 50%;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        display: inline-flex !important;
        justify-content: center;

        * {
            display: flex;
        }
        span {
            display: none;
        }
    }

    .spinnerMax, .spinnerMid, .spinnerMin {
        align-items: center;
        border: .3em solid transparent;
        border-top: .3em solid var(--primary-color);
        border-right: .3em solid var(--primary-color);
        border-radius: 100%;
        display: flex;
        justify-content: center;
    }

    .spinnerMax {
        animation: spinnerOne 3s linear infinite;
        height: 3em;
        width: 3em;
    }

    .spinnerMid {
        animation: spinnerOne 5s linear infinite;
        height: 2.4em;
        width: 2.4em;
    }

    .spinnerMin {
        animation: spinnerOne 5s linear infinite;
        height: 1.8em;
        width: 1.8em;
    }

    @keyframes spinnerOne {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(360deg)
        }
    }

    .preview {

        article,
        aside,
        footer,
        header,
        nav,
        section {
            display: block
        }

        h1 {
            font-size: 2em;
            margin: .67em 0
        }

        figcaption,
        figure {
            display: block
        }

        figure {
            margin: 1em 40px
        }

        hr {
            box-sizing: content-box;
            height: 0;
            overflow: visible
        }

        abbr[title] {
            border-bottom: none;
            text-decoration: underline;
            text-decoration: underline dotted
        }

        b,
        strong {
            font-weight: inherit;
            font-weight: bolder
        }

        code,
        kbd,
        samp {
            font-family: 'Fira Mono', "Droid Sans Mono", "monospace", monospace;
            font-size: 1em
        }

        img {
            border-style: none
        }

        blockquote,
        dl,
        ol,
        p,
        pre,
        ul {
            margin: 1.2em 0
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 1.8em 0;
            line-height: 1.33
        }

        h1:after,
        h2:after {
            content: "";
            display: block;
            position: relative;
            top: .33em;
            border-bottom: 1px solid hsla(0, 0%, 50%, .33)
        }

        ol ol,
        ol ul,
        ul ol,
        ul ul {
            margin: 0
        }

        dt {
            font-weight: 700
        }

        a {
            color: var(--md-anchor-color);
            text-decoration: underline;
            // text-decoration-skip: ink
        }

        a:focus,
        a:hover {
            text-decoration: none
        }

        code,
        pre,
        samp {
            font-family: 'Fira Mono', "Droid Sans Mono", "monospace", monospace;
            // font-size: .85em
        }

        code *,
        pre *,
        samp * {
            font-size: inherit
        }

        blockquote {
            color: var(--md-blockquote-color);
            padding-left: 1.5em;
            border-left: 5px solid var(--md-blockquote-border-color)
        }

        code {
            background-color: rgba(0, 0, 0, .05);
            border-radius: 3px;
            padding: 2px 4px
        }

        hr {
            border: 0;
            border-top: 1px solid hsla(0, 0%, 50%, .33);
            margin: 2em 0
        }

        pre>code {
            background-color: rgba(0, 0, 0, .05);
            display: block;
            padding: .5em;
            -webkit-text-size-adjust: none;
            overflow-x: auto;
            white-space: pre
        }

        .toc ul {
            list-style-type: none;
            padding-left: 20px
        }

        table {
            background-color: transparent;
            border-collapse: collapse;
            border-spacing: 0
        }

        td,
        th {
            // border-right: 1px solid var(--md-border-color);
            padding: 8px 12px
        }

        td:last-child,
        th:last-child {
            border-right: 0
        }

        td {
            border-top: 1px solid var(--md-border-color);
        }
        tr:first-of-type td {
            border-top: 1px solid var(--md-header-border-color);
        }

        mark {
            background-color: #f8f840
        }

        kbd {
            font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
            background-color: #fff;
            border: 1px solid rgba(63, 63, 63, .25);
            border-radius: 3px;
            box-shadow: 0 1px 0 rgba(63, 63, 63, .25);
            color: #333;
            display: inline-block;
            font-size: .8em;
            margin: 0 .1em;
            padding: .1em .6em;
            white-space: nowrap
        }

        abbr[title] {
            border-bottom: 1px dotted #777;
            cursor: help
        }

        img {
            max-width: 100%
        }

        .task-list-item {
            list-style-type: none
        }

        .footnote {
            font-size: .8em;
            position: relative;
            top: -.25em;
            vertical-align: top
        }

        .page-break-after {
            page-break-after: always
        }

        .abc-notation-block {
            overflow-x: auto !important
        }

        .checkbox {
            position: relative;
            margin: 16px 0;
            text-align: left;
        }

        .checkbox label {
            cursor: pointer;
            display: inline;
            vertical-align: top;
            clear: both;
            padding-left: 1px;
        }

        .checkbox label:not(:empty) {
            padding-left: 0.75em;
        }

        .checkbox label:before,
        .checkbox label:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
        }

        .checkbox label:before {
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 0.125em;
            cursor: pointer;
            transition: background-color 200ms ease;
        }

        .checkbox input[type=checkbox] {
            outline: 0;
            visibility: hidden;
            margin: 0;
            display: block;
            float: left;
            font-size: inherit;
            width: 20px;
            height: 20px;
        }

        .checkbox input[type=checkbox]:checked+label:before {
            background: #337ab7;
            border: none;
        }

        .checkbox input[type=checkbox]:checked+label:after {
            transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
            width: 10px;
            height: 5px;
            border: 2px solid #fff;
            border-top-style: none;
            border-right-style: none;
        }

        .checkbox input[type=checkbox]:disabled+label:before {
            border-color: rgba(0, 0, 0, 0.26);
        }

        .checkbox input[type=checkbox]:disabled:checked+label:before {
            background: rgba(0, 0, 0, 0.26);
        }
    }

    .stackedit__html {
        margin-bottom: 180px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 750px
    }

    .stackedit__toc ul {
        padding: 0
    }

    .stackedit__toc ul a {
        margin: .5rem 0;
        padding: .5rem 1rem
    }

    .stackedit__toc ul ul {
        color: #888;
        font-size: .9em
    }

    .stackedit__toc ul ul a {
        margin: 0;
        padding: .1rem 1rem
    }

    .stackedit__toc li {
        display: block
    }

    .stackedit__toc a {
        display: block;
        color: inherit;
        text-decoration: none
    }

    .stackedit__toc a:active,
    .stackedit__toc a:focus,
    .stackedit__toc a:hover {
        background-color: rgba(0, 0, 0, .075);
        border-radius: 3px
    }

    .stackedit__left {
        position: fixed;
        display: none;
        width: 250px;
        height: 100%;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none
    }

    @media (min-width: 1060px) {
        .stackedit__left {
            display: block
        }
    }

    .stackedit__right {
        position: absolute;
        right: 0;
        top: 0;
        left: 0
    }

    @media (min-width: 1060px) {
        .stackedit__right {
            left: 250px
        }
    }

    .markdown-highlighting {
        color: var(--text-color);
        caret-color: var(--text-color);
        font-family: inherit;
        font-size: inherit;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
        font-weight: 400;

        .code {
            font-family: 'Fira Mono', "Droid Sans Mono", "monospace", monospace;
            font-size: .85em
        }

        .code * {
            font-size: inherit !important
        }

        .pre {
            color: rgba(0, 0, 0, .8);
            font-family: 'Fira Mono', "Droid Sans Mono", "monospace", monospace;
            font-size: .85em
        }

        // .app--dark .pre {
        //     color: hsla(0, 0%, 100%, .8)
        // }

        // .pre [class*=language-] {
        //     color: #000
        // }

        // .app--dark .pre [class*=language-] {
        //     color: #fff
        // }

        .pre * {
            font-size: inherit !important
        }

        .pre,
        .pre * {
            line-height: 1.33
        }

        .tag {
            color: var(--text-color);
            font-family: 'Fira Mono', "Droid Sans Mono", "monospace", monospace;
            font-size: .85em;
            font-weight: 600
        }

        .tag .attr-name,
        .tag .attr-value,
        .tag .punctuation {
            font-weight: 400
        }

        .tag * {
            font-size: inherit !important
        }

        .entity {
            color: var(--text-color);
            font-family: 'Fira Mono', "Droid Sans Mono", "monospace", monospace;
            font-size: .85em;
            font-style: italic
        }

        .entity * {
            font-size: inherit !important
        }

        .table {
            font-family: 'Fira Mono', "Droid Sans Mono", "monospace", monospace;
            font-size: .85em
        }

        .table * {
            font-size: inherit !important
        }

        .color,
        .keyword,
        .cl-hash,
        .cl,
        .hr,
        .email,
        .url,
        .img,
        .imgref,
        .link,
        .linkref,
        .comment {
            color: var(--text-muted-color);
        }

        .keyword {
            font-weight: 600
        }

        .img-wrapper {
            display: inline-block
        }

        .img-wrapper .img {
            display: inline-block;
            padding: 0;
            background-color: transparent
        }

        .img-wrapper img {
            max-width: 100%;
            padding: 0 .15em;
            box-sizing: content-box
        }

        .cl-toc {
            font-size: 2.8em;
            padding: .15em
        }

        .blockquote {
            color: var(--md-blockquote-color)
        }

        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        .h11,
        .h22 {
            font-weight: 600
        }

        .h1,
        .h1 *,
        .h2,
        .h2 *,
        .h3,
        .h3 *,
        .h4,
        .h4 *,
        .h5,
        .h5 *,
        .h6,
        .h6 *,
        .h11,
        .h11 *,
        .h22,
        .h22 * {
            line-height: 1.33
        }

        .h1,
        .h11 {
            font-size: 2em
        }

        .h2,
        .h22 {
            font-size: 1.5em
        }

        .h3 {
            font-size: 1.17em
        }

        .h4 {
            font-size: 1em
        }

        .h5 {
            font-size: .83em
        }

        .h6 {
            font-size: .75em
        }

        .cl,
        .hr {
            font-style: normal;
            font-weight: 400
        }

        .em,
        .em .cl {
            font-style: italic
        }

        .strong,
        .strong .cl,
        .term {
            font-weight: 600
        }

        .cl-del-text {
            text-decoration: line-through
        }

        .cl-mark-text {
            background-color: #f8f840;
            color: #000
        }

        .cl-underlined-text,
        .email,
        .url {
            text-decoration: underline
        }

        .fn,
        .inlinefn,
        .sup {
            font-size: smaller;
            position: relative;
            top: -.5em
        }

        .sub {
            bottom: -.25em;
            font-size: smaller;
            position: relative
        }

        .img .cl-underlined-text,
        .imgref .cl-underlined-text,
        .link .cl-underlined-text,
        .linkref .cl-underlined-text {
            color: var(--text-color)
        }

        .cl-title {
            color: var(--text-color)
        }

        &--inline .cl-toc,
        &--inline .h1,
        &--inline .h2,
        &--inline .h3,
        &--inline .h4,
        &--inline .h5,
        &--inline .h6,
        &--inline .h11,
        &--inline .h22 {
            font-size: inherit
        }
    }


    :focus {
        outline: none
    }

    .flex {
        display: flex
    }

    .flex--row {
        flex-direction: row
    }

    .flex--column {
        flex-direction: column
    }

    .flex--center {
        justify-content: center
    }

    .flex--end {
        justify-content: flex-end
    }

    .flex--space-between {
        justify-content: space-between
    }

    .flex--align-center {
        align-items: center
    }

    .flex--align-end {
        align-items: flex-end
    }

    // Used for rendering mermaid diagrams in some capacity
    .hidden-rendering-container {
        position: absolute;
        width: 500px;
        left: -1000px
    }

    .toc__inner {
        position: relative;
        color: rgba(0, 0, 0, .67);
        cursor: pointer;
        font-size: 9px;
        padding: 10px 20px 40px;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .toc__inner * {
        font-weight: inherit;
        pointer-events: none
    }

    .toc__inner .cl-toc-section h1:after,
    .toc__inner .cl-toc-section h2:after {
        display: none
    }

    .toc__inner .cl-toc-section h1 {
        margin: 1rem 0
    }

    .toc__inner .cl-toc-section h2 {
        margin: .5rem 0;
        margin-left: 8px
    }

    .toc__inner .cl-toc-section h3 {
        margin: .33rem 0;
        margin-left: 16px
    }

    .toc__inner .cl-toc-section h4 {
        margin: .22rem 0;
        margin-left: 24px
    }

    .toc__inner .cl-toc-section h5 {
        margin: .11rem 0;
        margin-left: 32px
    }

    .toc__inner .cl-toc-section h6 {
        margin: 0;
        margin-left: 40px
    }

    .editor__inner {
        margin: 0;
        white-space: pre-wrap;
        word-break: break-word;
        word-wrap: break-word;
        // scroll-behavior: smooth;
    }

    .editor__inner * {
        line-height: 1.67
    }

    .editor__inner .cledit-section {
        font-family: inherit
    }

    .editor__inner .hide {
        display: none
    }

    .preview__inner-2 {
        margin: 0
    }

    .preview__inner-2>:first-child>:first-child {
        margin-top: 0
    }

    .preview__corner {
        position: absolute;
        top: 0;
        right: 0
    }
}
