::ng-deep {

    .light {
        --red-A700: #FF8A80;
        --red-A400: #FF5252;
        --red-A200: #FF1744;
        --red-A100: #D50000;
        --pink-A700: #FF80AB;
        --pink-A400: #FF4081;
        --pink-A200: #F50057;
        --pink-A100: #C51162;
        --purple-A700: #EA80FC;
        --purple-A400: #E040FB;
        --purple-A200: #D500F9;
        --purple-A100: #AA00FF;
        --indigo-A700: #8C9EFF;
        --indigo-A400: #536DFE;
        --indigo-A200: #3D5AFE;
        --indigo-A100: #304FFE;
        --cyan-A700: #84FFFF;
        --cyan-A400: #18FFFF;
        --cyan-A200: #00E5FF;
        --cyan-A100: #00B8D4;
        --teal-A700: #A7FFEB;
        --teal-A400: #64FFDA;
        --teal-A200: #1DE9B6;
        --teal-A100: #00BFA5;
        --lightGreen-A700: #CCFF90;
        --lightGreen-A400: #B2FF59;
        --lightGreen-A200: #76FF03;
        --lightGreen-A100: #64DD17;
        --yellow-A700: #FFFF8D;
        --yellow-A400: #FFFF00;
        --yellow-A200: #FFEA00;
        --yellow-A100: #FFD600;
        --orange-A700: #FFD180;
        --orange-A400: #FFAB40;
        --orange-A200: #FF9100;
        --orange-A100: #FF6D00;
        --grey-900: #FAFAFA;
        --grey-600: #BDBDBD;
        --grey-400: #757575;
        --grey-50: #212121;
    }

    .dark {
        --red-A100: #FF8A80;
        --red-A200: #FF5252;
        --red-A400: #FF1744;
        --red-A700: #D50000;
        --pink-A100: #FF80AB;
        --pink-A200: #FF4081;
        --pink-A400: #F50057;
        --pink-A700: #C51162;
        --purple-A100: #EA80FC;
        --purple-A200: #E040FB;
        --purple-A400: #D500F9;
        --purple-A700: #AA00FF;
        --indigo-A100: #8C9EFF;
        --indigo-A200: #536DFE;
        --indigo-A400: #3D5AFE;
        --indigo-A700: #304FFE;
        --cyan-A100: #84FFFF;
        --cyan-A200: #18FFFF;
        --cyan-A400: #00E5FF;
        --cyan-A700: #00B8D4;
        --teal-A100: #A7FFEB;
        --teal-A200: #64FFDA;
        --teal-A400: #1DE9B6;
        --teal-A700: #00BFA5;
        --lightGreen-A100: #CCFF90;
        --lightGreen-A200: #B2FF59;
        --lightGreen-A400: #76FF03;
        --lightGreen-A700: #64DD17;
        --yellow-A100: #FFFF8D;
        --yellow-A200: #FFFF00;
        --yellow-A400: #FFEA00;
        --yellow-A700: #FFD600;
        --orange-A100: #FFD180;
        --orange-A200: #FFAB40;
        --orange-A400: #FF9100;
        --orange-A700: #FF6D00;
        --grey-50: #FAFAFA;
        --grey-400: #BDBDBD;
        --grey-600: #757575;
        --grey-900: #212121;
    }
}
